<section>
  <div class="row">
    <div class="small-12 columns">
      <h2 id="title">Ember Query Params Test</h2>
    </div>
    <div class="small-12 columns">
      {{outlet}}
    </div>
  </div>
</section>



